.editor-ul-list {
  list-style-type: disc;
  padding-left: 1rem;
}

.editor-ol-list {
  list-style-type: decimal;
  padding-left: 1rem;
}

.editor-link {
  cursor: pointer;
  color: #00b4d8;
  text-decoration: underline;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethought {
  text-decoration: line-through;
}

.editor-text-underline-strikethought {
  text-decoration: underline line-through;
}
